body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:752px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:752px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:20px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:121px;
  width:373px;
  height:44px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:214px;
  width:350px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:64px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:64px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:128px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:132px;
  width:43px;
  height:22px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:163px;
  width:373px;
  height:1px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:314px;
  width:373px;
  height:37px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:321px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:62px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:176px;
  width:10px;
  height:15px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:174px;
  width:235px;
  height:19px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
.u1061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
.u1062 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:45px;
  height:45px;
}
.u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1064 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:59px;
  width:49px;
  height:17px;
  font-size:12px;
}
.u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1059-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u1059-2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:86px;
}
#u1059-3 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:70px;
  height:86px;
}
#u1059-4 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:70px;
  height:86px;
}
#u1059-5 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:70px;
  height:86px;
}
#u1059-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:70px;
  height:86px;
}
#u1059-7 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:86px;
  width:70px;
  height:86px;
}
#u1059-8 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:86px;
  width:70px;
  height:86px;
}
#u1059-9 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:86px;
  width:70px;
  height:86px;
}
#u1059-10 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:86px;
  width:70px;
  height:86px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:354px;
  width:350px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:501px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:74px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:535px;
  width:363px;
  height:74px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:584px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:615px;
  width:373px;
  height:37px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:622px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:667px;
  width:22px;
  height:25px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:667px;
  width:25px;
  height:25px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:667px;
  width:11px;
  height:11px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:667px;
  width:24px;
  height:25px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:681px;
  width:11px;
  height:11px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:667px;
  width:25px;
  height:25px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:667px;
  width:27px;
  height:25px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:809px;
  width:349px;
  height:1px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:819px;
  width:85px;
  height:20px;
  color:#999999;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:2px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:766px;
  width:562px;
  height:1px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:775px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:775px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:758px;
  width:61px;
  height:17px;
  font-size:12px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:743px;
  width:25px;
  height:25px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:747px;
  width:15px;
  height:16px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:738px;
  width:17px;
  height:7px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:744px;
  width:27px;
  height:19px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:752px;
  width:3px;
  height:1px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:746px;
  width:5px;
  height:5px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:752px;
  width:5px;
  height:5px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:382px;
  width:377px;
  height:33px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
