body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:758px;
  width:61px;
  height:17px;
  font-size:12px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:603px;
  width:527px;
  height:238px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:507px;
  word-wrap:break-word;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:752px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:752px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:20px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:121px;
  width:373px;
  height:44px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:205px;
  width:350px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:64px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:64px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:128px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:132px;
  width:43px;
  height:22px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:163px;
  width:373px;
  height:1px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:259px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:259px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:259px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:62px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:176px;
  width:10px;
  height:15px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:210px;
  width:30px;
  height:30px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:79px;
}
.u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
.u1073 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:45px;
  height:45px;
}
.u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1075 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:56px;
  width:49px;
  height:17px;
  font-size:12px;
}
.u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1070-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:79px;
}
#u1070-2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:79px;
}
#u1070-3 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:70px;
  height:79px;
}
#u1070-4 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:70px;
  height:79px;
}
#u1070-5 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:70px;
  height:79px;
}
#u1070-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:70px;
  height:79px;
}
#u1070-7 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:79px;
  width:70px;
  height:79px;
}
#u1070-8 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:79px;
  width:70px;
  height:79px;
}
#u1070-9 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:79px;
  width:70px;
  height:79px;
}
#u1070-10 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:79px;
  width:70px;
  height:79px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:292px;
  width:350px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:74px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:505px;
  width:363px;
  height:74px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:554px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u1081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:585px;
  width:373px;
  height:37px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:592px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:637px;
  width:22px;
  height:25px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:637px;
  width:25px;
  height:25px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:637px;
  width:11px;
  height:11px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:637px;
  width:24px;
  height:25px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:651px;
  width:11px;
  height:11px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:637px;
  width:25px;
  height:25px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:637px;
  width:27px;
  height:25px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:672px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:672px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:672px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:672px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:672px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:779px;
  width:349px;
  height:1px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:789px;
  width:57px;
  height:20px;
  color:#999999;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:745px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:745px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:713px;
  width:25px;
  height:25px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:717px;
  width:15px;
  height:16px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:708px;
  width:17px;
  height:7px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:714px;
  width:27px;
  height:19px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:722px;
  width:3px;
  height:1px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:716px;
  width:5px;
  height:5px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:722px;
  width:5px;
  height:5px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
.u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u1137 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:5px;
  width:25px;
  height:25px;
}
.u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1139 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:32px;
  width:49px;
  height:17px;
  font-size:12px;
}
.u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1134-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1134-2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:72px;
  height:50px;
}
#u1134-3 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:72px;
  height:50px;
}
#u1134-4 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:72px;
  height:50px;
}
#u1134-5 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:0px;
  width:72px;
  height:50px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:451px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:483px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:140px;
  width:0px;
  height:0px;
}
#u1143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:537px;
  height:8px;
}
#u1143_seg1 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:-19px;
  width:8px;
  height:23px;
}
#u1143_seg2 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:-26px;
  width:20px;
  height:20px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:96px;
  width:278px;
  height:59px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:96px;
  width:25px;
  height:25px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:183px;
  width:0px;
  height:0px;
}
#u1149_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:373px;
  height:8px;
}
#u1149_seg1 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:-4px;
  width:8px;
  height:80px;
}
#u1149_seg2 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:68px;
  width:292px;
  height:8px;
}
#u1149_seg3 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:62px;
  width:20px;
  height:20px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:237px;
  width:278px;
  height:59px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:220px;
  width:25px;
  height:25px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:225px;
  width:0px;
  height:0px;
}
#u1155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1155_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:87px;
}
#u1155_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:75px;
  width:303px;
  height:8px;
}
#u1155_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:75px;
  width:8px;
  height:69px;
}
#u1155_seg4 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:136px;
  width:19px;
  height:8px;
}
#u1155_seg5 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:130px;
  width:20px;
  height:20px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:352px;
  width:25px;
  height:25px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:352px;
  width:278px;
  height:66px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:267px;
  width:0px;
  height:0px;
}
#u1161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1161_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:180px;
}
#u1161_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:168px;
  width:323px;
  height:8px;
}
#u1161_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:168px;
  width:8px;
  height:98px;
}
#u1161_seg4 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:258px;
  width:34px;
  height:8px;
}
#u1161_seg5 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:252px;
  width:20px;
  height:20px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:511px;
  width:25px;
  height:25px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:505px;
  width:337px;
  height:74px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:476px;
  width:0px;
  height:0px;
}
#u1167_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u1167_seg1 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:-4px;
  width:8px;
  height:169px;
}
#u1167_seg2 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:157px;
  width:179px;
  height:8px;
}
#u1167_seg3 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:151px;
  width:20px;
  height:20px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:545px;
  width:0px;
  height:0px;
}
#u1169_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u1169_seg1 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:-4px;
  width:8px;
  height:335px;
}
#u1169_seg2 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:323px;
  width:201px;
  height:8px;
}
#u1169_seg3 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:317px;
  width:20px;
  height:20px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:609px;
  width:25px;
  height:25px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:865px;
  width:25px;
  height:25px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:859px;
  width:337px;
  height:74px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:5px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:723px;
  width:9px;
  height:5px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:713px;
  width:26px;
  height:25px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:745px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:2px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:766px;
  width:562px;
  height:1px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:681px;
  width:0px;
  height:0px;
}
#u1186_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1186_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:350px;
}
#u1186_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:338px;
  width:394px;
  height:8px;
}
#u1186_seg3 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:332px;
  width:20px;
  height:20px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:334px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1009px;
  width:25px;
  height:25px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1009px;
  width:337px;
  height:128px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:809px;
  width:0px;
  height:0px;
}
#u1192_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:391px;
}
#u1192_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:383px;
  width:590px;
  height:8px;
}
#u1192_seg2 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:377px;
  width:20px;
  height:20px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:379px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:1181px;
  width:25px;
  height:25px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1170px;
  width:337px;
  height:50px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
