body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:20px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:121px;
  width:373px;
  height:44px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:214px;
  width:350px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:64px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:101px;
  width:373px;
  height:64px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:128px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:132px;
  width:43px;
  height:22px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:163px;
  width:373px;
  height:1px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:314px;
  width:373px;
  height:37px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:321px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:278px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:70px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:62px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:176px;
  width:10px;
  height:15px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:174px;
  width:235px;
  height:19px;
  font-family:'方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:219px;
  width:30px;
  height:30px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
.u975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
.u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
.u976 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:45px;
  height:45px;
}
.u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
.u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u978 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:59px;
  width:49px;
  height:17px;
  font-size:12px;
}
.u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u973-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u973-2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:70px;
  height:86px;
}
#u973-3 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:70px;
  height:86px;
}
#u973-4 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:70px;
  height:86px;
}
#u973-5 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:70px;
  height:86px;
}
#u973-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:70px;
  height:86px;
}
#u973-7 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:86px;
  width:70px;
  height:86px;
}
#u973-8 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:86px;
  width:70px;
  height:86px;
}
#u973-9 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:86px;
  width:70px;
  height:86px;
}
#u973-10 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:86px;
  width:70px;
  height:86px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:354px;
  width:350px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:501px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:74px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:535px;
  width:363px;
  height:74px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:584px;
  width:35px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:615px;
  width:373px;
  height:37px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:622px;
  width:73px;
  height:24px;
  font-size:18px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:667px;
  width:22px;
  height:25px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:667px;
  width:25px;
  height:25px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:667px;
  width:11px;
  height:11px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:667px;
  width:24px;
  height:25px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:681px;
  width:11px;
  height:11px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:667px;
  width:25px;
  height:25px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:667px;
  width:27px;
  height:25px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:702px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:729px;
  width:349px;
  height:1px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:739px;
  width:85px;
  height:20px;
  color:#999999;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
