body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:946px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:1472px;
  width:1031px;
  height:946px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:465px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:592px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:2488px;
  width:1031px;
  height:592px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:2418px;
  width:1031px;
  height:70px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(65, 151, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:2436px;
  width:110px;
  height:42px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:2444px;
  width:92px;
  height:26px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 142, 142, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:2436px;
  width:110px;
  height:42px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:2445px;
  width:75px;
  height:24px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 172, 56, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:2436px;
  width:110px;
  height:42px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:2444px;
  width:83px;
  height:26px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:2160px;
  width:150px;
  height:60px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:2150px;
  width:20px;
  height:20px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:2153px;
  width:29px;
  height:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
