body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:67px;
  width:430px;
  height:140px;
  font-size:14px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:410px;
  word-wrap:break-word;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:267px;
  width:933px;
  height:512px;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:521px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:517px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:184px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:157px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:184px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:521px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:184px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:30px;
  width:246px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:242px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:263px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:161px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:157px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:263px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:214px;
  width:521px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:263px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:214px;
  width:246px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:242px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:477px;
  width:161px;
  height:30px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:477px;
  width:521px;
  height:30px;
  text-align:left;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:517px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:477px;
  width:246px;
  height:30px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:848px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:488px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:912px;
  width:624px;
  height:488px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:614px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:21px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:217px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
