body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u218 {
  position:absolute;
  left:114px;
  top:67px;
  width:430px;
  height:140px;
  font-size:14px;
}
#u219 {
  position:absolute;
  left:10px;
  top:10px;
  width:410px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:114px;
  top:267px;
  width:933px;
  height:616px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u222 {
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u223 {
  position:absolute;
  left:161px;
  top:0px;
  width:521px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u224 {
  position:absolute;
  left:2px;
  top:3px;
  width:517px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u225 {
  position:absolute;
  left:682px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u226 {
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:104px;
}
#u227 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:104px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u228 {
  position:absolute;
  left:2px;
  top:40px;
  width:157px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:104px;
}
#u229 {
  position:absolute;
  left:161px;
  top:30px;
  width:521px;
  height:104px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:104px;
}
#u231 {
  position:absolute;
  left:682px;
  top:30px;
  width:246px;
  height:104px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u232 {
  position:absolute;
  left:2px;
  top:44px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:184px;
}
#u233 {
  position:absolute;
  left:0px;
  top:134px;
  width:161px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u234 {
  position:absolute;
  left:2px;
  top:80px;
  width:157px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:184px;
}
#u235 {
  position:absolute;
  left:161px;
  top:134px;
  width:521px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u236 {
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:184px;
}
#u237 {
  position:absolute;
  left:682px;
  top:134px;
  width:246px;
  height:184px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u238 {
  position:absolute;
  left:2px;
  top:80px;
  width:242px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:263px;
}
#u239 {
  position:absolute;
  left:0px;
  top:318px;
  width:161px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u240 {
  position:absolute;
  left:2px;
  top:120px;
  width:157px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:263px;
}
#u241 {
  position:absolute;
  left:161px;
  top:318px;
  width:521px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u242 {
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:263px;
}
#u243 {
  position:absolute;
  left:682px;
  top:318px;
  width:246px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u244 {
  position:absolute;
  left:2px;
  top:120px;
  width:242px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u245 {
  position:absolute;
  left:0px;
  top:581px;
  width:161px;
  height:30px;
}
#u246 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u247 {
  position:absolute;
  left:161px;
  top:581px;
  width:521px;
  height:30px;
  text-align:left;
}
#u248 {
  position:absolute;
  left:2px;
  top:7px;
  width:517px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u249 {
  position:absolute;
  left:682px;
  top:581px;
  width:246px;
  height:30px;
}
#u250 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u251 {
  position:absolute;
  left:114px;
  top:848px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u252 {
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:488px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:114px;
  top:912px;
  width:624px;
  height:488px;
}
#u254 {
  position:absolute;
  left:5px;
  top:5px;
  width:614px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u255 {
  position:absolute;
  left:114px;
  top:21px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u256 {
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u257 {
  position:absolute;
  left:114px;
  top:217px;
  width:174px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u258 {
  position:absolute;
  left:20px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
