body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:116px;
  width:933px;
  height:412px;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:521px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:517px;
  word-wrap:break-word;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:84px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:521px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u1974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:84px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:30px;
  width:246px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:263px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:161px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:157px;
  word-wrap:break-word;
}
#u1978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:263px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:114px;
  width:521px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:517px;
  word-wrap:break-word;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:263px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:114px;
  width:246px;
  height:263px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:161px;
  height:30px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:30px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:377px;
  width:521px;
  height:30px;
  text-align:left;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:517px;
  word-wrap:break-word;
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:377px;
  width:246px;
  height:30px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
